<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TaxiBooking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PassportServlet</display-name>
    <servlet-name>PassportServlet</servlet-name>
    <servlet-class>com.servlets.PassportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassportServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
    <url-pattern>/SignUp</url-pattern>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingServlet</display-name>
    <servlet-name>BookingServlet</servlet-name>
    <servlet-class>com.servlets.BookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingServlet</servlet-name>
    <url-pattern>/CreateBooking</url-pattern>
    <url-pattern>/DelayBooking</url-pattern>
    <url-pattern>/ConfirmPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoutingServlet</display-name>
    <servlet-name>RoutingServlet</servlet-name>
    <servlet-class>com.servlets.RoutingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoutingServlet</servlet-name>
    <url-pattern>/CabBooking</url-pattern>
    <url-pattern>/MyTrips</url-pattern>
    <url-pattern>/RateCard</url-pattern>
    <url-pattern>/CustCare</url-pattern>
  </servlet-mapping>
</web-app>